:root {
  font-size: 62.5%;
  --color-primary: #ff5722;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  font-size: 1.6rem;
}

section {
  padding: 100px 0;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  font-family: "Ubuntu", sans-serif;
}

section .subtitle {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  position: relative;
  text-align: center;
}

a {
  text-decoration: none;
}
